body{
    margin:0;
}
header{
    height: 100px;
}
nav{
    height: 100px;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding-right: 1%;
}
.navbar-nav{
    margin-left: auto;
}
.center{
    padding-top: 10%;
}
ul li b a{
    text-decoration: none;  
}
a.text-warning:hover{
    color: white !important;
}
